<div id="app" *mobxAutorun>
  <app-source></app-source>
  <div id="button">
    <button [className]="dataStore.getCancelData.length?'checkedButton':'defaultButton'"
            (click)="selectToTarget()"
            [disabled]="!dataStore.getCancelData.length"><
    </button>
    <button [className]="dataStore.getCheckData.length?'checkedButton':'defaultButton'"
            (click)="selectToTarget()"
            [disabled]="!dataStore.getCheckData.length">>
    </button>
  </div>
  <app-target></app-target>
</div>
