#source {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}
#source header{
  border-bottom: 1px solid #cccccc;
  padding: 8px 10px;
}
#source input {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

#source label, span {
  vertical-align: middle;
  margin: 0 4px;
}

#source span{
  margin-left: 30px;
}
